<html>
<head>
  <link rel="stylesheet" text="text/css" href="{{site.url}}{{site.baseurl}}/assets/site.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
  <title>Low End Theories</title>
</head>
<body>
  <h1>Low End Theories</h1>
  <table>
    <tr>
      {% for post in site.posts %}
        <td>
          <a href="{{site.url}}{{site.baseurl}}{{ post.url }}">
            <img src="{{site.url}}{{site.baseurl}}/images/{{post.image}}" height="200" width="200"/>
          </a>
        </td>
      {% endfor %}
    </tr>
  </table>
</body>
</html>
